*{
    margin: 0px;
    padding: 0px;
}
h1{
    background-color: black;
    color: white;
    text-align: center;
    line-height: 4rem;
    font-size: 20px;
    height: 60px;
}
.choices{
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 3rem;
    border-radius: 50%;
}
img{
    height: 180px;
    border-radius: 50%;
}
.choice:hover{
    cursor: pointer;
    background-color: black;
}
.choice{
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
#user-score, #comp-score{
    font-size: 3rem;
}
#user-score p{
    font-size: 2rem;
}
.message-container{
    text-align: center;
    height: 80px;
    width: 100%;
    
}
#msg{
    background-color: black;
    color: white;
    font-size: 2rem;
    line-height: 4rem;
    margin-top: 30px;
    display: inline-block;
    border-radius: 5px;
    width: 300px;
}